<h1>EDIT Atriticle</h1>

<%= form_for @article, :url => article_path(@article), :method=> :PUT do |f|%>
  <%= render(:partial=>'form', :locals=>{:f => f})%>
<%end%>

<%= link_to 'Back', articles_path %>

